@import "./variables/colors.scss";
@import "./mixins/mixin.scss";

.heroSection_name {
    @include center;
    height: 100vh;
    width: 100vw;

    .heroSection_name-food {
        font-family: "Montserrat", sans-serif;
        font-size: calc(5rem * 2.8);
        font-weight: 700;
        //color: #{$darkBlack};
        color: transparent;
        margin: calc(0.5rem * 2.8);
        background-image: url("../images/pexels-chan-walrus-958545.jpg");
        background-size: cover;
        background-clip: text;
    }
    .heroSection_name-lab {
        font-family: "Montserrat", sans-serif;
        font-size: calc(5rem * 2.8);
        font-weight: 200;
        // color: #{$darkBlack};
        color: transparent;
        margin: calc(0.5rem * 2.8);
        background-image: url("../images/pexels-rajesh-tp-1633578.jpg");
        background-size: cover;
        background-clip: text;
    }
}
