@import "./variables/colors.scss";
@import "./mixins/mixin.scss";

.loader-animation {
    @include center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #{$fgWhite};
    margin: 0;
    padding: 0;
    left: 0;

    .loader-animation_logo {
        @include center;
    
        .loader-animation_left-line {
            height: 7px;
            width: 30px;
            background: #{$greenLine};
        }

        .loader-animation_name-food {
            font-family: "Montserrat", sans-serif;
            font-size: 5rem;
            font-weight: 700;
            color: #{$darkBlack};
            margin: 0.5rem;
        }
        .loader-animation_name-lab {
            font-family: "Montserrat", sans-serif;
            font-size: 5rem;
            font-weight: 200;
            color: #{$darkBlack};
            margin: 0.5rem;
        }
        .loader-animation_right-line {
            height: 7px;
            width: 30px;
            background: #{$redLine};
        }
    }
    .loader-animation_percentage{
        
        .loader-animation_percentage-number {
            font-family: "Lato", sans-serif;
            font-size: 2rem;
            font-weight: 100;
            color: #{$fgWhite};
            margin: 0.5rem;
        }
    }
}
