@import "./variables/colors";
@import "./base/reset";
@import "./variables/fonts";




html,
body {
    margin: 0;
    padding: 0;
    //overflow-x: hidden;
    overscroll-behavior-y: none;
    // scrollbar-width: none; /* for Firefox */  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {

    margin: 0;
    padding: 0;
    left: 0;
    position: relative;
}

.Home{
    //padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    //box-sizing: content-box; /* So the width will be 100% + 17px */
}


@import "components/heroSection";
@import "components/home";
@import "components/Loader-Animation";
@import "components/nav";
@import "components/photo-slides";
@import "components/menu";
@import "components/contact";
