@import "../variables/colors";
@import "../mixins/mixin";
@import "../variables/fonts";

.loader-animation {
    //@include center;
    // flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #{$fgWhite};
    margin: 0;
    padding: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    overflow: hidden;


    .loader-animation_left-line {
        height: 7px;
        width: 100%;
        transform: translate(-100%, 0);
        background: #{$redLine};
    }

    .loader-animation_name {
        @include center;
        height: 100vh;
        width: 100%;
        opacity: 0;
        transform: translate(0px, 50px);

        .loader-animation_name-food {
            font-family: "Montserrat", sans-serif;
            font-size: 5rem;
            font-weight: 700;
            color: #{$darkBlack};
            margin: 0.5rem;
        }
        .loader-animation_name-lab {
            font-family: "Montserrat", sans-serif;
            font-size: 5rem;
            font-weight: 200;
            color: #{$darkBlack};
            margin: 0.5rem;
        }
    }

    .loader-animation_right-line {
        height: 7px;
        width: 100%;
        transform: translate(100%, 0);
        background: #{$greenLine};
    }
}
