@import "../variables/colors";
@import "../mixins/mixin";
@import "../variables/fonts";

.nav_container {
    position: fixed;
    display: flex;
    right: 0;
    z-index: 1;
    margin: 3em;
    mix-blend-mode: difference;
    
    .nav_list {
        @include reset-list;
        @include center;
        .nav_item {
            @include reset-list;
            @include center;
            margin: 0.5em 1em;
            font-size: 1.5rem;
            font-family: $Lato;
            font-weight: 700;
            
            a {
                @include reset-list;
                @include center;
                color: #{$darkBlack};
            }
        }
    }
}
